@import url("reset.css");


hr { /*Ligne horizontale*/
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 600px;
  height: 2px;
  background-color: black;
  border: none;
}

body .cv1 h1 { /*Grégory Leguay*/
  margin-top: 40px;
  font-size: 2.5em;
  margin-left: 150px;
}

body .cv1 h3 { /* à propos de moi */
  font-size: 1.3em;
  margin-left: 150px;
  color: red;
}

body .cv1 h5 { /*TEXT EXPERIENCE PRO*/
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 140px;
}

body .cv1 { /* base du cv (rectangle) */
  width:600px;height:550px;border:2px solid #000;
  display: inline-block;
  background-color: #D2E111;
  background-image: url(https://image.noelshack.com/fichiers/2020/02/2/1578404574-fondcv.jpg);
  position: relative;

}

body .cv1 p { /* text */
  margin-left: 155px;
  text-align: center;
}

body .cv1 #rond { /* Image cv */
  position:absolute;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background-image: url(https://image.noelshack.com/fichiers/2020/02/2/1578401821-test.png);
  top: 6px;
  left: 19px;
}

body .cv2 { /* côté gauche du cv */
  width:150px;height:550px;border:2px solid #000;
  position: absolute;
  display: inline-block;
  bottom: -2px;
  left: -2px;
}

body .cv2 h1 { /* EXPERTISE */
  margin-top: 140px;
  margin-left: auto;
  text-align: center;
  font-size: 1.2em;
}

body .cv2 h3 { /*INTERET*/
  color:black;
}

body .cv2 p { /* Informations */
  margin-left: auto;
  text-align: center;
}


#expert p {

}
