@import url("reset.css");


p { /* Couleur de text de nav */
  color: black;
}
body {
  background-color: #fff;
}

nav{
  margin-top: 50px;
  width: auto;
  text-align: center;
}
nav ul li{
  display: inline-block; /* alignement de "bande" fonctionne avec "li" */
  width: 10%;
  text-align: center;
}
nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

nav ul li a:link {
  background: #fff;
  color: #000;
}
nav ul li a:visited {
  background: #fff;
  color: #999;
}
nav ul li a:visited:hover {
  background: #999;
  color: #009;
  opacity: 50%;
}
nav ul li a:hover { /* Couleur d'arrière plan des boutons de "bande"*/
  background: #fff;
  color: #785;
  opacity: 2;
}
nav ul li a:active {
  background: #000;
  color: #f00;
}

form {
  background-color: darksalmon;
  width: 600px;
  padding: 20px;
}

form div {
  padding: 10px 0;
}

form div label {
  float: left;
  width: 240px;
  padding: 0 10px 0 0;
  text-align: right;
}

form div input[type="submit"] {
  background-color: red;
  color: yellow;
  font-size: 1.5em;
  margin: 0 0 0 250px;
}

form fieldset {
  outline: 2px solid red;
}

form textarea {
  font-family: Verdana, Arial, sans-serif;
}
