@import url("reset.css");



@media screen and (min-width: 600px) {

header {
  text-align: center;
}

iframe {
  width: auto;
  margin-right: 1200px;
}

#nav p { /* Couleur de text de nav */
  color: black;
  font: arial, verdana, sans-serif;
  font-size: 20px;
}

#hd img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

body .ment {
  margin-left: 200px;
  margin-right: 200px;
}
body .ment h1 {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}
body {
  margin: 10px 0;
  text-align: center;
  background-size: 100%;
  background-color: white;
  height: 100%;
}

nav {
  margin-bottom: 5px;
  max-width: 100%;
  height: auto;
}
nav ul li{
  display: inline-block; /* alignement de "bande" fonctionne avec "li" */
  width: 19.3%;
}

nav ul li ul { /* sous menu */
  display: inherit;
}
nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

nav ul li a:link {
  background: #fff;
  color: #000;
}
nav ul li a:visited {
  background: #fff;
  color: #999;
}
nav ul li a:visited:hover {
  background: red;
  color: #009;
  opacity: 1%;
}
nav ul li a:hover { /* Couleur d'arrière plan des boutons de "bande"*/
  background: #fff;
  color: #450;
  opacity: 2;
}
nav ul li a:active {
  background: #000;
  color: #f00;
}

form {
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
  width: 600px;
  padding: 20px;
}

form div {
  padding: 10px 0;
}

form div label {
  float: left;
  width: 240px;
  padding: 0 10px 0 0;
  text-align: right;
}

form div input[type="submit"] {
  background-color: grey;
  color: yellow;
  font-size: 1.5em;
  margin: 0 0 0 250px;
}


form textarea {
  font-family: Verdana, Arial, sans-serif;
}
}
