@import url("reset.css");

header {
  text-align: center;
  animation: 3s slidein;
}

#accueil{
  margin-top: 90px;
  font-size: 30px;
  text-align: center;
}

iframe {
  margin-top: 5.1%;
  margin-left: 30%;
}
#nav p { /* Couleur de text de nav */
  color: black;
  font: arial, verdana, sans-serif;
  font-size: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;

    75% {
  font-size: 300%;
  margin-left: 25%;
  width: 150%;
    }
  }
}

@media screen and (max-width:991px) {
}

body {
  background: url(neige-01.gif); /*Gif dans css, j'ai po compris le chemin ne marcher pas ??? */
  background-size: 100%;
  background-color: black;
}

nav {
  margin-left: 280px;
  margin-top: -120px;
  width: auto;
  text-align: center;
}
nav ul li{
  display: inline-block; /* alignement de "bande" fonctionne avec "li" */
  width: 12%;
}
nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

nav ul li a:link {
  background: #fff;
  color: #000;
}
nav ul li a:visited {
  background: #fff;
  color: #999;
}
nav ul li a:visited:hover {
  background: red;
  color: #009;
  opacity: 1%;
}
nav ul li a:hover { /* Couleur d'arrière plan des boutons de "bande"*/
  background: #fff;
  color: #450;
  opacity: 2;
}
nav ul li a:active {
  background: #000;
  color: #f00;
}

form {
  background-color: darksalmon;
  width: 600px;
  padding: 20px;
}

form div {
  padding: 10px 0;
}

form div label {
  float: left;
  width: 240px;
  padding: 0 10px 0 0;
  text-align: right;
}

form div input[type="submit"] {
  background-color: red;
  color: yellow;
  font-size: 1.5em;
  margin: 0 0 0 250px;
}

form fieldset {
  outline: 2px solid red;
}

form textarea {
  font-family: Verdana, Arial, sans-serif;
}
